#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
    background-color: rgb(13, 13, 13);
}

#loader img {
    width: 20vw; 
    animation: fadeIn 2s ease-in-out;
}

#loader h1 {
    color: aliceblue;
    text-align: start;
    font-family: "Baskervville", serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 5vw;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* Ocultar el loader */
.hidden {
    opacity: 0;
    pointer-events: none;
}